@model HomeTest.Models.City

@{
    ViewData["Title"] = "מחיקה";
}

<h1>מחיקת ישוב</h1>

<h3>האם ברצונך למחוק ישוב: @Html.DisplayFor(model => model.Name)?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="מחיקה" class="btn btn-danger" /> |
        <a asp-action="Index">חזרה לרשימה</a>
    </form>
</div>
